<%= form_with(model: balance, local: true) do |form| %>
  <% if balance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(balance.errors.count, "error") %> prohibited this balance from being saved:</h2>

      <ul>
        <% balance.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :amount %>
    <%= form.text_field :amount %>
  </div>

  <div class="field">
    <%= form.label :wallet_id %>
    <%= form.text_field :wallet_id %>
  </div>

  <div class="field">
    <%= form.label :market_id %>
    <%= form.text_field :market_id %>
  </div>

  <div class="field">
    <%= form.label :cryptocurrency_id %>
    <%= form.text_field :cryptocurrency_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
