<h1> Exchange Ten </h1>

<%= link_to 'users', users_path %>
<%= link_to 'market', markets_path %>
<%= link_to 'balances', balances_path %>
<%= link_to 'wallets', wallets_path %>
<%= link_to 'transactions', transactions_path %>
<%= link_to ' cryptocurrencies',  cryptocurrencies_path %>